version: 2.1
jobs:
  build:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      # Replace this with steps to build a package, or executable
      - run:
          name: Build an artifact
          command: echo "Webhook test $(date)" >> example.txt
      - store_artifacts:
          path: example.txt
workflows:
  atlas_workflow:
    jobs:
#      - build
      - build:
          filters:
            tags:
              only:
                - /^v.*/
            branches:
              ignore:
                - /.*/
